.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

nav ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
}

nav li {
  display: inline; /* Display links in a line */
  margin-right: 20px; /* Adds some space between the links */
}

nav a {
  text-decoration: none; /* Removes underline from links */
  color: #000; /* Sets link color to black (or choose your color) */
}

nav a:hover {
  text-decoration: underline; /* Adds underline on hover for visual feedback */
}
